body{
    background-color: #ffc107;
}

input.form-control,input.form-control:focus {
    background-color: #ffc107;
    color: black;
    border-color: black;
    border-radius: 0px;
    border-width: 2px;
}

input.form-control:focus {
    box-shadow: none;
    border-bottom-color: black 
}

button[type=submit].btn {
border-radius: 20px;
background-color: #000;
color: #fff;
}

div.form-group label {
    color: black;
    font-weight: bold;
}

/* The below is targeting all required classes in a form group, and is targeting the labels
for those required class divs, and is targeting the first child of each label within this requried class.
Once it targets those elements, it sets the asterisk or the contents of this css body after the label*/

div.form-group.required>label:first-child:after {
    content: '*';
    color: #dc3545;
    padding-left: 5px;
}

#toast-container {
    opacity: 1;
}

form {
    margin: 0px 16px;
}

div.side-header {
    border:3px solid black;
}
